.container {
  position: absolute;
  top: 55%;
  right: 45%;
  transform: translate(-50%, -50%);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 

}

.container .toggle {
  top: 40%; 
  right: 60%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 25px;
  background: #444;
  border-radius: 50px;
  
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid var(--secondary-);
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.container .toggle .toggle-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.container .text {
  left: 40%;
  width: 5px;
  height: 70%;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);

}

.container .toggle.active {
  background: rgb(77, 8, 8);
}

.container .toggle.active .toggle-button {
  left: 5px;
}


/* ----------------------------- ALLAGH LOGIKA */
.container2 {
  position: absolute;
  top: 75%;
  right: 45%;
  transform: translate(-50%, -50%);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;  

}

.container2 .toggle2 {
  top: 60%;
  right: 60%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 25px;
  background: #444;
  border-radius: 50px;

  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid var(--secondary-);
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.container2 .toggle2 .toggle-button2 {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.container2 .text2 {
  left: 40%;
  width: 5px;
  height: 60%;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.container2 .toggle2.active {
  background: rgb(77, 8, 8);
}

.container2 .toggle2.active .toggle-button2 {
  left: 5px;
}